# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/mediaAlunosMatriz/nbproject/private/
/mediaAlunosMatriz/build/
/CalcMediaTurmaMatriz/nbproject/private/
/CalcMediaTurmaMatriz/build/
/matrizTrasposta/nbproject/private/
/matrizTrasposta/build/
/pedro/nbproject/private/
/pedro/build/
/avaliacao1/nbproject/private/
/avaliacao1/build/
/matrizSimetrica/nbproject/private/
/matrizSimetrica/build/
/notasAlunosMatriz/nbproject/private/
/notasAlunosMatriz/build/
/tabelaPreçosMatriz/nbproject/private/
/tabelaPreçosMatriz/build/
/matrizMagica/nbproject/private/
/matrizMagica/build/
/minMaxMatriz/nbproject/private/
/minMaxMatriz/build/
/mercadinhoMatriz/nbproject/private/
/mercadinhoMatriz/build/
/avaliacao2/nbproject/private/
/avaliacao2/build/
/jogoDaVelha/nbproject/private/
/jogoDaVelha/build/
/matrizPermutacao/nbproject/private/
/matrizPermutacao/build/
/somaEleAcimaDP/nbproject/private/
/somaEleAcimaDP/build/
/multiDS/nbproject/private/
/multiDS/build/